.post{
    margin-bottom:30px;
    border:3px solid #198754;
    border-radius: 5px;
    padding:10px;
    box-shadow: 5px 10px 18px #198754;
}
.postHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px #198754;
    margin: 30px;
}

.delete_btn{
    width:30px;
}